.header {
  background-color: white;
  padding: 1rem 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.logo {
  padding: 0;
  margin-left: -50px;
}

.navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li:not(:last-child) {
  margin-right: 1rem;
}

.icons {
  font-size: 20px;
}

.icons:hover {
  transform: translateY(-3px);
}
