.footer-icons {
  font-size: 20px;
  color: black;
  margin: 10px;
}

.footer-text {
  font-style: italic;
}

.bg-light {
  align-items: center;
}

.p-4 {
  margin: 0;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 50px;
}
