.users-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.container-users {
  justify-content: center;
  align-items: center;
}

@media (min-width: 500px) {
  .users-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .users-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.user-card:hover {
  animation-name: moveUpDown;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
