.post-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  justify-items: center;
}

.container-posts {
  justify-content: center;
  align-items: center;
}

@media (min-width: 500px) {
  .post-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .post-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
